.idea
build
cmake-build-debug
kmod/.tmp_versions
*.o
*.ko
*.cmd
lib/CMakeFiles
userprog/CMakeFiles
CMakeCache.txt
CMakeFiles
*.symvers
*.order
*.mod.c
lib/cmake_install.cmake
lib/libramdrv.so
lib/Makefile
userprog/cmake_install.cmake
userprog/hwuser
userprog/Makefile
cmake_install.cmake
*.cmake
